.clientsFormCase {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.clientsFormCase-editCase {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.clientsFormCase__top {
  display: flex;
  justify-content: flex-end;
}
.clientInfo__list {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.editCase__inputs {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.clientsFormCase-clientInfo {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.clientInfo__wrapper {
  width: 240px;
}
.clientsFormCase__toggle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.clientsFormCase__toggle span {
  font-family: "Titillium Web", sans-serif;
}
