.defFextField {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 10px;
}
.defFextField.medium .Polaris-TextField {
  width: 240px;
  height: 32px !important;
}
.defFextField .Polaris-TextField__Backdrop {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.defFextField .Polaris-TextField--focus .Polaris-TextField__Backdrop {
  border-color: #6d27e7;
}
.defFextField__area {
  display: flex;
  flex-direction: column;
  grid-gap: 3px;
}
.defFextField__error {
  color: red;
  font-size: 13px;
}
