.newRow__table {
  width: 875px;
  max-width: 100%;
  margin: 0 auto;
}
.newRow__table table {
  border: none !important;
}
.newRow__table table thead {
  background: #fff;
}
.newRow__table table thead > tr > th:last-child {
  display: none !important;
}
.newRow__table table thead > tr > th:first-child {
  border-radius: 15px 0 0 0;
  -webkit-border-radius: 15px 0 0 0;
  -moz-border-radius: 15px 0 0 0;
  -ms-border-radius: 15px 0 0 0;
  -o-border-radius: 15px 0 0 0;
  padding-left: 10px !important;
}
.newRow__table table thead > tr > th {
  padding: 5px 0 5px 5px;
}
.newRow__table table thead > tr > th:nth-child(7) {
  border-radius: 0 15px 0 0;
  -webkit-border-radius: 0 15px 0 0;
  -moz-border-radius: 0 15px 0 0;
  -ms-border-radius: 0 15px 0 0;
  -o-border-radius: 0 15px 0 0;
}
.newRow__table table tr input {
  border: none !important;
}
.newRow__table
  table
  > tbody
  > tr:last-child
  > td:nth-child(2)
  .Polaris-TextField__Backdrop {
  border-radius: 0 0 0 10px !important;
}
.newRow__table
  table
  > tbody
  > tr:last-child
  > td:nth-child(8)
  .Polaris-TextField__Backdrop {
  border-radius: 0 0 10px 0 !important;
}
.newRow__table
  td.Polaris-DataTable__Cell.Polaris-DataTable__Cell--verticalAlignTop.Polaris-DataTable__Cell--hovered,
.newRow__table tbody th {
  border-bottom: 1px solid #cacaca !important;
}
.newRow__table
  table
  > tbody
  td.Polaris-DataTable__Cell.Polaris-DataTable__Cell--verticalAlignTop.Polaris-DataTable__Cell--hovered:last-child {
  border: none !important;
}
.newRow__table .Polaris-DataTable__Cell--hovered .Polaris-TextField__Backdrop {
  background: #f1f1f1 !important;
}
.newRow__table table tbody tr td,
.newRow__table table tbody tr th {
  padding: 0 !important;
}
.newRow__table table tbody tr td,
.newRow__table table tbody tr th {
  border: none !important;
  border-bottom: 1px solid #cacaca !important;
}
.newRow__table table tbody tr > td:last-child {
  position: absolute;
}
.newRow__table table tbody tr:last-child td,
.newRow__table table tbody tr:last-child th {
  border: none !important;
}
.newRow__table
  table
  tbody
  tr:last-child
  td.Polaris-DataTable__Cell.Polaris-DataTable__Cell--verticalAlignTop.Polaris-DataTable__Cell--hovered {
  border-bottom: none !important;
}
.newRow__table table thead,
.newRow__table table tbody {
  border: none !important;
}
.newRow__table table .defaultAutocomplete .Polaris-TextField {
  height: 36px !important;
}
.newRow__table table thead tr th {
  font-size: 13.8px;
  font-weight: 600;
  color: #333;
  border: none;
  text-align: left;
}

.newRow__table .defaultAutocomplete .Polaris-TextField__Backdrop {
  border-radius: 0px !important;
}

.newRow__body {
  width: 840px;
  margin: 0 auto;
}

.newRow__table .vat-autocomplete {
  width: 120px !important;
}

@media screen and (max-width: 1200px) {
  .newRow__table .Polaris-DataTable {
    width: 100%;
  }
}
