body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.page-main-papper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.wrapper {
  min-height: 100vh;
  padding: 20px;
}

.wrapper__top {
  padding: 30px 0;
}
.wrapper__top h1,
.wrapper__top heading {
  font-weight: 600;
  font-size: 27px !important;
}

.def-container {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}

.new-element-line {
  display: grid;
  width: 840px;
  margin: 0 auto;
  max-width: 100%;
  grid-template-columns: repeat(2, 1fr);
}
.new-element-list {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
.purple__btn {
  cursor: pointer;
  transition: all 0.2s ease;
}
.purple__btn:hover {
  background: #6d27e7;
  color: #fff;
}
.def-link {
  transition: all 0.2s ease;
  font-weight: 500;
  cursor: pointer;
  color: rgb(34, 34, 34);
}
.def-link:hover {
  color: #585858;
}
.def-input {
  border-radius: 10px;
  height: 32px;
  padding: 12px;
  border: 1px solid #898f94;
}
.def-input:focus {
  outline: none;
  border: 1px solid #6d27e7 !important;
}
.def-input-purple:focus,
.def-input-purple
  .Polaris-TextField.Polaris-TextField--focus
  .Polaris-TextField__Backdrop {
  border-color: #6d27e7;
}
.purple__btn-dark button {
  cursor: pointer;
  transition: all 0.2s ease;
}
.purple__btn-dark button:hover {
  background: #36038f;
  color: #fff;
}
.def-input-label {
  font-size: 13.8px;
  font-weight: 500;
  color: #333;
  text-align: right;
  vertical-align: middle;
  font-weight: 600;
}
.error-txt {
  color: red;
}
.light-txt {
  color: #999;
  font-size: 14px;
  line-height: 1.3em;
}
.bold-txt {
  font-weight: 700 !important;
}
