.newInvoice {
  padding: 40px 30px 20px;
}
.newInvoice__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.newInvoice-newInvoiceTop {
  min-height: 240px;
  padding: 0px 0px 35px 0px;
}
.newInvoice__wrapper .Polaris-FormLayout__Item {
  margin: 0;
}
.newInvoiceTop__paper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.newInvoice.newClient
  + #PolarisPortalsContainer
  > div[data-portal-id="popover-Polarisportal1"]
  > div:last-child::after {
  content: "New Client";
  position: absolute;
  font-size: 12px;
  top: calc(100% - 35px);
  right: 15px;
  color: #36038f;
  font-weight: 600;
}

.newInvoice.newProduct
  + #PolarisPortalsContainer
  > div[data-portal-id="popover-Polarisportal5"]
  > div:last-child::after {
  content: "New Product";
  position: absolute;
  font-size: 12px;
  top: calc(100% - 35px);
  right: 15px;
  color: #36038f;
  font-weight: 600;
}
.newInvoice__wrapper > .Polaris-Heading {
  font-size: 24px;
  margin: 0 auto;
  width: 840px;
  line-height: 32px;
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  word-break: break-all;
  padding: 0 0 50px 0;
}
.newInvoiceTop__right {
  display: flex;
  width: auto;
  flex-direction: column;
  flex: 1 1 auto;
}
.newInvoice__paddCase {
  border-right: 1px solid rgb(223, 223, 223);
  padding: 0px 35px 0px 0px;
}
.newInvoice__input > div:first-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.newInvoice__input .Polaris-TextField__Backdrop {
  border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  -o-border-radius: 12px !important;
}

.newInvoice__input .Polaris-Labelled__LabelWrapper {
  display: flex;
  align-items: center;
  min-width: 60px;
  justify-content: flex-end;
}

.newInvoice__input .Polaris-Label__Text {
  font-size: 13.8px;
  font-weight: 500;
  color: #333;
  text-align: right;
  vertical-align: middle;
  font-weight: 600;
}
.newInvoice__input .Polaris-TextField,
.newInvoice__input .Polaris-TextField__Backdrop,
.inputTwice__area .Polaris-TextField__Backdrop,
.inputTwice__area .Polaris-TextField__Backdrop,
.inputTwice__area .Polaris-Select__Backdrop {
  height: 32px !important;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.inputTwice__area .Polaris-TextField__Spinner {
  display: none;
}
.inputTwice__area .Polaris-Select__Backdrop:after {
  content: none;
}
.newInvoice__input .Polaris-TextField input,
.inputTwice__area .Polaris-TextField input {
  box-shadow: none !important;
  border: 1px solid #e2e2e2;
  border-radius: none;
  height: 32px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  position: relative !important;
}

.newInvoice__input .Polaris-Connected {
  width: 240px !important;
}
.newInvoice__input.min .Polaris-TextField {
  position: relative;
  width: 90px !important;
}
.newInvoice__input.min
  .Polaris-Connected__Item.Polaris-Connected__Item--primary {
  position: relative;
}
.newInvoice__input.min
  .Polaris-Connected__Item.Polaris-Connected__Item--primary:after {
  content: "days";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  right: 100px;
}
.newInvoice__dateArea {
  display: flex;
  width: max-content;
  width: 100%;
  justify-content: center;
  padding: 5px 0 0 0;
  color: rgb(121, 121, 121);
}
.def-form-tabs {
  width: 240px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2px;
  border-radius: 8px;
  align-items: center;
  gap: 4px;
  margin-top: 25px;
  justify-content: flex-end;
  background: rgb(221, 221, 221);
  margin-bottom: 15px;
}
.def-form-tab._active {
  background: #6d27e7;
  color: #fff;
}
.def-form-tab {
  padding: 5px 10px;
  width: 120px;
  border-radius: 8px;
  text-align: center;
  background: transparent;
  transition: all 0.2s ease;
  cursor: pointer;
}
.def-form-tab._none:hover {
  background: rgb(184, 184, 184);
}

.newInvoice__selectStr {
  text-align: right;
  color: #333;
  font-size: 18px;
  text-decoration: underline;
  font-weight: 500;
}
.newInvoiceTop__another {
  padding: 25px 0;
}

.newInvoice__input-min > div:first-child {
  display: flex;
  flex-direction: column-reverse;
}

.newInvoiceTop__lineEnd {
  display: flex;
  justify-content: end;
}

.form__defBtn button {
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  background: #6d27e7;
  color: #fff;
  font-weight: 600;
  text-align: center;
  transition: all 0.2s ease;
}
.form__defBtn button .Polaris-Button__Text {
  display: flex;
  align-items: center;
}
.form__defBtn-ic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.form__defBtn-ic img {
  object-fit: cover;
  width: 14px;
  height: 14px;
  object-position: center;
  transition: all 0.2s ease;
}
.form__defBtn-ic._active img {
  transform-origin: center;
  transform: rotate(180deg);
}

.newInvoice__input.max,
.newInvoice__input.max > div:first-child {
  max-width: 400px !important;
}
.newInvoice__input.max input {
  width: 300px;
}
.newInvoice__input.max .Polaris-Labelled__LabelWrapper {
  justify-content: flex-start;
}
.newInvoice__input.max .Polaris-Connected {
  width: auto !important;
}
.newInvoice-newInvoiceBody {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.newInvoice-newInvoiceBody._active {
  height: 320px !important;
}

.newInvoice__input.start > div:first-child {
  justify-content: flex-end;
}
.newInvoice-inputTwice {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.inputTwice__area {
  display: grid;
  width: 240px;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
}
.inputTwice__label {
  display: flex;
  align-items: center;
}
.inputTwice__label span {
  font-size: 13.8px;
  font-weight: 500;
  color: #333;
  text-align: right;
  vertical-align: middle;
  font-weight: 600;
}
.invoice__select .Polaris-Select__Backdrop {
  border: 1px solid rgba(174, 180, 185, 1);
}
/* .newRow__table {
  width: 920px;
} */

.newRow__btn {
  background-color: #dedede;
  border-radius: 8px !important;
  border: 0;
  border-radius: 0;
  color: #222;
  font-family: Brandon-Text, sans-serif;
  font-size: 11px;
  font-weight: 500;
  outline: none;
  padding: 8px 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}
.newRow__btn:hover {
  background: #6d27e7;
  color: #fff;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
.newRow__actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 5px;
}
.newRow__line {
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding: 10px 0;
}
.newRow__line.border {
  border-bottom: 1px solid #cacaca;
}
.newRow__line span {
  color: #222;
  font-size: 14px;
  font-weight: 500;
}
.newRow__line-title {
  font-weight: 600 !important;
}
.newRow__line-title.light {
  font-weight: 400 !important;
}
.cancel-ic {
  width: 15px;
}
.newRow__table table tr {
  position: relative;
  border: none !important;
}
.newRow__table table .Polaris-TextField__Backdrop {
  border: none !important;
}
.newRow__table table tbody tr td input {
  font-size: 14px !important;
  font-family: "Titillium Web", sans-serif !important;
}
.newRow__table table tbody td:hover {
  border: none !important;
}
.newRow__table tbody th,
.newRow__table tbody td {
  border: none;
  border-right: 1px solid #e2e2e2 !important;
}
.newRow__table tbody td:last-child {
  border: none !important;
}
.newRow__table tbody td button {
  border: none !important;
  background: transparent;
  opacity: 0;
  transition: all 0.2s ease;
}
.newRow__table tbody tr:hover td button {
  border: none !important;
  outline: none !important;
  opacity: 1;
}
.newInvoice__bottom {
  padding-top: 35px;
}
.invActions__input {
  width: 280px;
}
.newInvoice-invActions {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  width: 840px;
  margin: 0 auto;
}
.invActions__textArea {
  width: 280px;
  min-height: 80px;
  resize: none;
  border: 1px solid #cacaca;
  color: rgb(117, 117, 117);
  padding: 10px;
}
.invActions__textArea:focus {
  border: 1px solid #6d27e7;
  outline: none;
}
.invActions__input label span {
  color: #222;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block;
}

.invActions__right {
  display: flex;
  padding-top: 150px;
  align-items: flex-end;
}

.PolarisTextField2:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.PolarisTextField2 {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.Polaris-TextField--focus,
.Polaris-TextField--focus input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

input:focus-visible {
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

.newInvoice__input .Polaris-TextField input,
.inputTwice__area .Polaris-TextField input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.Polaris-TextField .Polaris-TextField--focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.newInvoice__input .Polaris-TextField input:focus-visible,
.inputTwice__area .Polaris-TextField input:focus-visible {
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}

.newInvoice-dateSelect {
  display: flex;
  position: relative;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;
  position: relative;
}
.dateSelect__datePicker {
  position: absolute;
  left: 110%;
  z-index: 99;
  top: 70% !important;
  border-radius: 10px;
  box-shadow: 0px 0px 17px 6px rgba(0, 0, 0, 0.16),
    0px 3px 6px 0px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  padding: 20px 0px;
  background: #fff;
}
.dateSelect__datePicker .Polaris-DatePicker {
  background: #fff;
  z-index: 999;
  padding: 0 10px;
}
.dateSelect__datePicker .Polaris-DatePicker__Header {
  width: 90%;
}
.dateSelect__label {
  font-size: 13.8px;
  font-weight: 500;
  color: #333;
  text-align: right;
  vertical-align: middle;
  font-weight: 600;
}
.dateSelect__input {
  width: 240px;
  padding: 5px 12px;
  background: #fff;
  border-radius: 12px;
  height: 32px;
  border: 1px solid rgba(201, 204, 207, 1);
  line-height: var(--p-line-height-3);
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  align-items: center;
  font-size: var(--p-font-size-4);
  font-family: var(--p-font-family-sans);
  caret-color: var(--p-text);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.dateSelect__input .Polaris-Icon__Svg {
  fill: #6d27e7 !important;
  width: 15px !important;
  height: 15px !important;
}
.dateSelect__input .Polaris-Icon {
  margin: 0;
  margin-top: 4px;
}
.newInvoice-dateSelect._active .dateSelect__input {
  border: 1px solid #6d27e7;
}
.invoice__MainSelect {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;
}
.invoice__MainSelect-btn._disabled button {
  background: #fff;
  border-color: rgba(221, 224, 228, 1) !important;
}
.invoice__MainSelect-btn._disabled button .Polaris-Button__Text {
  color: rgba(135, 144, 155, 1) !important;
}
.invoice__MainSelect-btn.discount button {
  width: 80px;
}
.invoice__MainSelect-btn .Polaris-Button__Text {
  color: #999;
  display: flex;
  align-items: center;
}
.invoice__MainSelect-btn .Polaris-Icon__Svg {
  fill: #999;
}
.invoice__MainSelect-btn svg {
  fill: #333;
  width: 20px;
  height: 20px;
}
.invoice__MainSelect > .invoice__MainSelect-wrapper.min {
  width: 240px;
}
.invoice__MainSelect > .invoice__MainSelect-wrapper.medium {
  width: 240px;
}
.invoice__MainSelect .Polaris-Select__Backdrop {
  border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  -o-border-radius: 12px !important;
  height: 32px;
}
.invoice__MainSelect .Polaris-Select__Backdrop::after {
  content: none;
}
.invoice__MainSelec-label {
  font-size: 13.8px;
  font-weight: 500;
  color: #333;
  text-align: right;
  vertical-align: middle;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.invoice__MainSelect select option {
  margin: 5px;
}
#PolarisSelect5 option {
  padding: 10px;
}
.invoice__MainSelect-wrapper button {
  width: 100%;
  border-radius: 10px;
}
.invoice__MainSelect-wrapper button .Polaris-Button__Text {
  color: rgba(31, 33, 36, 1) !important;
}
.invoice__MainSelect-wrapper.simple button {
  border: none;
  background: transparent;
  box-shadow: none;
}
.invoice__MainSelect-wrapper.simple button .Polaris-Button__Content {
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
  font-weight: 400;
}
.invoice__MainSelect-wrapper.simple
  button
  .Polaris-Button__Content
  .Polaris-Icon {
  display: none;
}
.Polaris-Popover__Pane.Polaris-Scrollable.Polaris-Scrollable--vertical.Polaris-Scrollable--hasBottomShadow.Polaris-Scrollable--verticalHasScrolling {
  overflow: auto !important;
}
.newInvoice__input._error .Polaris-TextField__Backdrop {
  border: 1px solid red !important;
}
.newInvoice__input-error {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
  color: red;
}
.invoice__MainSelect-label {
  color: #999;
  display: block;
  font-size: 14px;
  line-height: 1.3em;
  padding-left: 3px;
  padding-right: 8px;
  margin-top: 3px;
}
