.itemCounts__papper {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}
.itemCounts__list {
  list-style: none;
}
.itemCounts__list.border {
  border-bottom: 1px solid #7a7a7a;
}
.itemCounts__item {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.itemCounts__item.bold > span {
  font-weight: 900;
  color: #000;
}
.itemCounts__item.end > span {
  font-size: 17px;
}
.itemCounts__item.end {
  background: rgba(136, 136, 136, 0.1);
  border: 1px solid #7a7a7a;
  margin-top: 5px;
}
.item_detail_count {
  min-width: 300px;
  width: max-content;
  display: flex;
  justify-content: center;
}
.item_detail_count_load {
  padding: 35px 0 0 0;
}
